<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>TextSnatcher</string>
	<key>CFBundleExecutable</key>
	<string>TextSnatcher</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.rajsolai.textsnatcher</string>
	<key>CFBundleName</key>
	<string>TextSnatcher</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>0.01</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>1</integer>
</dict>
</plist>
