name: tesseract
config-opts:
  - --disable-static
  - --disable-graphics
  - --enable-legacy
sources:
  - type: archive
    url: https://github.com/tesseract-ocr/tesseract/archive/4.1.1.tar.gz
    sha256: 2a66ff0d8595bff8f04032165e6c936389b1e5727c3ce5a27b3e059d218db1cb
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/tam.traineddata
    sha256: 4b9ce85987f629dd31eaf87443a1646452a43cdf91fcf05e017382ad595dcb9e
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/eng.traineddata
    sha256: 8280aed0782fe27257a68ea10fe7ef324ca0f8d85bd2fd145d1c2b560bcb66ba
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/hin.traineddata
    sha256: bd2e65a2184af08a167b0be2439e91fa5edbc4394399ca2f692b843ae26e78d6
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/jpn.traineddata
    sha256: 36bdf9ac823f5911e624c30d0553e890b8abc7c31a65b3ef14da943658c40b79
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/rus.traineddata
    sha256: b617eb6830ffabaaa795dd87ea7fd251adfe9cf0efe05eb9a2e8128b7728d6b6
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/fra.traineddata
    sha256: 907743d98915c91a3906dfbf6e48b97598346698fe53aaa797e1a064ffcac913
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/tha.traineddata
    sha256: ee8adab6dc69eb8df3d3c8307ae8295471b7bd7d86a06d9267aa8f479b064eac
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/ara.traineddata
    sha256: ab9d157d8e38ca00e7e39c7d5363a5239e053f5b0dbdb3167dde9d8124335896
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/chi_sim.traineddata
    sha256: 4fef2d1306c8e87616d4d3e4c6c67faf5d44be3342290cf8f2f0f6e3aa7e735b
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/spa.traineddata
    sha256: e2c1ffdad8b30f26c45d4017a9183d3a7f9aa69e59918be4f88b126fac99ab2c
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/tur.traineddata
    sha256: e2c1ffdad8b30f26c45d4017a9183d3a7f9aa69e59918be4f88b126fac99ab2c
    dest: traineddata
  - type: file
    url: https://github.com/tesseract-ocr/tessdata_best/raw/main/nld.traineddata
    sha256: e2c1ffdad8b30f26c45d4017a9183d3a7f9aa69e59918be4f88b126fac99ab2c
    dest: traineddata

post-install:
  - install -p -D -m 0644 "traineddata"/tam.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/eng.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/hin.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/jpn.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/rus.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/fra.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/tha.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/ara.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/chi_sim.traineddata -t "${FLATPAK_DEST}/share/tessdata/";
  - install -p -D -m 0644 "traineddata"/spa.traineddata -t "${FLATPAK_DEST}/share/tessdata/";

modules:
  - leptonica.yml
